<div class="row">
	<div class="large-3 columns">
		<h3><%= @user.name%></h3>
		<%= render 'stats' %>
	</div>
	<div class="large-9 columns">
		<h1><%= @title %></h1>
		<% if @users.any? %>
		<dl>
			<%= render @users %>
		</dl>
		<% else %>
			<h3>None so far!</h3>
		<% end %>
	</div>
</div>