<div class="row">
	<div class="large-3 column">
		<h3><%= @user.name %></h3>
		<p><%= @user.email%></p>
	</div>
	<div class="large-9 column">
		<ul class="no-bullet">
		<%= render @user.microposts %>
		</ul>
	</div>
</div>